@import 'utils/index';
@import 'base/index';
@import 'layouts/index';
@import 'components/index';
@import 'pages/index';

body {
   // height: 100svh;
   font-family: $font-main;
   font-size: $body-font-size;
   line-height: 1.5;
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }
   25% {
      transform: translateX(-5px);
   }
   50% {
      transform: translateX(5px);
   }
   75% {
      transform: translateX(-5px);
   }
   100% {
      transform: translateX(0);
   }
}

.shake {
   animation: shake 0.3s;
}

header {
   background-color: red !important;
}
